<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Luckee Monthly Data
    <small>Widgets show data for current month.</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Data</a></li>
    <li class="active">Monthly</li>
  </ol>
<%= form_tag("/custom", method: "get") do %>
  <label> Start Date:</label> 
<% if params[:start]%>
 <%= date_select("start","date",:selected =>  Date.civil(params[:start]["date(1i)"].to_i,params[:start]["date(2i)"].to_i,params[:start]["date(3i)"].to_i)) %> 
<% else %>
 <%= date_select("start","date") %> 
<% end %>
<br />
<label> End Date:</label>
<% if params[:end] %>
 <%= date_select("end","date",:selected =>  Date.civil(params[:end]["date(1i)"].to_i,params[:end]["date(2i)"].to_i,params[:end]["date(3i)"].to_i)) %> 
<% else %>
 <%= date_select("end","date") %>
<% end %>
  <%= submit_tag("Filter") %>
<% end %>
</section>

<!-- Main content -->
<section class="content">

<%= render partial: "/common/dash_widget", :locals => {data: @total_arrivals, title: "Total Arrivals", icon: "fa-rocket" } %>

<%= render partial: "/common/dash_widget", :locals => {data: @sign_ups, title: "New Users", icon: "fa-user", bg_color:"blue" } %>

<%= render partial: "/common/dash_widget", :locals => {data: @active_users, title: "Active Users", icon: "fa-users", bg_color:"green" } %>

<%= render partial: "/common/dash_widget", :locals => {data: @surveys, title: "Surveys Taken", icon: "fa-files-o", bg_color:"red" } %>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong> User Stats: <%= @start_date.strftime("%m/%d/%Y") %> - <%= @end_date.strftime("%m/%d/%Y")%></strong>
                        </p>
                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="monthlyUsers" style="height: 180px;"></canvas>
                        </div><!-- /.chart-responsive -->
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- ./box-body --> 
        </div>
    </div>
</div>
   

    <%= render partial: "/common/dash_widget", :locals => {data: @games_played, title: "Games Played", icon: "fa-gamepad" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @time_spent_playing, title: "Hours Played", icon: "fa-clock-o"  } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @credits_earned, title: "Credits Earned", icon: "fa-certificate" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @cash_outs,title:"Cash Outs",icon: "fa-dollar" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: "$#{@cash_payed}",title:"Cash Paid Out", icon: "fa-money" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @credits_per_minute,title:"Credits Per Min", icon: "fa-hourglass-start" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @desktop_arrivals,title:"Desktop Arrivals", icon: "fa-desktop" } %>

    <%= render partial: "/common/dash_widget", :locals => {data: @mobile_arrivals,title:"Mobile Arrivals", icon: "fa-mobile" } %>



    <br style='clear: both' />


</section><!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Metrics Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="monthlyTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date Starting</th>
                                <th>Arrivals</th>
                                <th>New Users</th>
                                <th>Total Users</th>
                                <th>Active Users</th>
                                <th>Cash outs</th>
                                <th>Surveys</th>
                                <th>Games Played</th>
                                <th>Hours of Gaming</th>
                                <th>Mobile Arrivals</th>
                                <th>Desktop Arrivals</th>
                                <th>Credits Per Minute</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @dates.each do | m | %>
                                <tr>
                                    <td><%= m.date.strftime("%m/%d/%Y") %></td>
                                    <td><%= m.arrivals %></td>
                                    <td><%= m.sign_ups %></td>
                                    <td><%= User.where(:user_created=>@start_date..@end_date).size %></td>
                                    <td><%= m.active_users %></td>
                                    <td><%= m.cash_outs %></td>
                                    <td><%= m.surveys %></td>
                                    <td><%= m.games_played %></td>
                                    <td><%= ((m.time_spent_playing.to_f/60.to_f)/60.to_f).round(2) %></td>
                                    <td><%= m.mobile_arrivals %></td>
                                    <td><%= m.desktop_arrivals%></td>
                                    <td><%= m.credits_per_minute.round(2) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<% content_for :extra_js do %>

 <script>
    $('#monthlyTable').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
 </script>

 <%= render partial: "/common/chartjs", :locals => {:dataset => [{name: "Sign Ups", color: "#337ab7", data: @dates.map{|m| m.sign_ups}},{name: "Active Users", color: "#00a65a", data: @dates.map{|m| m.active_users}}], chart_id: "monthlyUsers", labels: @dates.map{|m| m.date.strftime("%m/%d/%Y")}} %>
<% end %>
