<div class="progress-group">
    <span class="progress-text"><%= name %></span>
    <span class="progress-number"><b><%= actual %></b>/<%= goal %></span>
    <div class="progress sm">
        <div class="progress-bar progress-bar-<%= color %>" style="width: <%= complete %>%"></div>
    </div>
</div><!-- /.progress-group -->